/* Основные правила скрытия элементов */
.hidden { 
    display: none !important; 
}

:root {
    --naka-blue: #007BFF;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f4f7f9;
}

/* Стили для экранов (чтобы они были на весь экран) */
#biometric-screen, #auth-screen, #main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 100;
}

#biometric-screen { z-index: 1000; display: flex; align-items: center; justify-content: center; text-align: center; }

/* Кнопки и шапка */
header {
    background: var(--naka-blue);
    color: white;
    padding: 15px;
}

.btn-main {
    background: var(--naka-blue);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
}
